# Flutter / Dart
.dart_tool/
android/.gradle/
android/.kotlin/
android/local.properties
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Android signing (JANGAN commit)
android/key.properties
*.jks
*.keystore

# Env
*.env
.env
